@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
body {
	background-color: #212121;
	color: white;
}

table, th, td {
	color: white !important;
}

.card-title {
	text-align: center !important;
}

.card-settings {
	width: 100%;
	height: auto;
	box-shadow: 0 0 15px -5px black!important;
	border-radius: 7px;
	margin: 25px;
	background-color: #212121;
}

*:not(.fas; .fa) {
	font-family: 'Inter', sans-serif;
}

.tab-pane {
	margin-top: 10px;
}

.modal-dialog {
	font-family: 'Inter', sans-serif
}

.close {
	color: white;
}

.login-box {
	background-color: #212121!important;
}

.login-text {
	color: white!important;
	font-family: 'Inter', sans-serif;
}

.username-text {
	color: #b3b3b3!important;
	font-family: 'Inter', sans-serif;
}

.pass-text {
	color: #b3b3b3!important;
	font-family: 'Inter', sans-serif;
}

.video {
	border-top-left-radius: 15px!important;
	border-top-right-radius: 15px!important;
}

.font {
	font-family: 'Inter', sans-serif!important;
}

#input_search {
    border-radius: 20px;
    border: 1px solid transparent;
    background: #303030;
	padding: 5px 10px 10px 5px;
    color: white;
	width: 300px;
	outline: none;
}

.video {
	border-radius: 5px;
	box-shadow: 0 0 15px -5px black;
}

.placeholder {
	color: white;
}

a {
	color: white;
}

.nav-item:hover {
	color: white;
}

body.bg-img {
	background-image: url('https://beta.viddle.xyz/assets/25529.png');
	display: flex;
	align-items: flex-start;
}

.spinner {
margin: 50px auto;
width: 70px;
text-align: center;
background-color: #212121;
}

div.banner {
	display: flex;
	justify-content: center;
}

.spinner > div {
width: 18px;
height: 18px;
border-radius: 100%;
display: inline-block;
background-color: #212121;
}

.d {
text-align: center;
background-color: #212121;
margin-top: -150px;
}

.loader {
position: fixed;
left: 0; right: 0; top: 0; bottom: 0;
background-color: #212121;  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
color: white;
font-family: sans-serif;
}

.spinner-center {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.tile-before {
font-family: 'Oxygen', sans-serif;
font-weight: 400;
}
.tile-before-300 {
font-family: 'Oxygen', sans-serif;
font-weight: 300;
}
.tile {
display: flex;
justify-content: center;
position: relative;
flex-wrap: wrap;
margin: 10px 0 20px 0;
}

.card {
width: 300px;
height: 265px;
border-radius: 7px;
margin: 25px;
background-color: #212121;
box-shadow: 0 0 15px -5px black;
cursor: pointer;
transition: all 0.2s;
position: relative;
}

.comments {
	margin-top: 20px;
	color: white !important;
}

.card-videoch {
	width: auto;
	height: auto;
	background-color: #212121;
	box-shadow: 0 0 15px -5px black;
	border-radius: 15px;
	cursor: pointer;
	transition: all 0.2s;
	position: relative;
	}

.card-login {
	color: black !important;
	width: 300px;
	height: 265px;
	border-radius: 5px;
	margin: 25px;
	background-color: #efefef;
	box-shadow: 0 0 15px -5px black;
	transition: all 0.2s;
	position: relative;
}

.card-channel {
width: 300px;
height: 265px;
border-radius: 10px;
margin: 25px;
background-color: #212121;
box-shadow: 0 0 15px -5px black;
transition: all 0.2s;
position: relative;
}

.card-creatorstudio {
	width: 300px;
	height: 130px;
	border-radius: 10px;
	margin: 25px;
	background-color: #212121;
	box-shadow: 0 0 15px -5px black;
	transition: all 0.2s;
	position: relative;
	}

.card-upload {
width: 300px;
height: 265px;
border-radius: 10px;
margin: 25px;
background-color: #212121;
box-shadow: 0 0 15px -5px black;
transition: all 0.2s;
position: relative;
}

.card-title {
padding: 5px;
color: white;
font-size: 20px;
margin: 5px;
}

.card-image {
padding: 5px;
width: 300px;
height: 200px;
}

.hr {
border-bottom: 1px #979797 solid;
}
.card-bottom {
padding: 5px;
color: white;
margin-left: 5px;
display: flex;
justify-content: space-between;
}

.bottom-info {
display: flex;
justify-content: space-between;
margin: 0px 10px 0px 10px;
color: white;
text-align: left;
}
::selection {
background-color: #00df0067;
}
.btn {
display: inline-block;
background: transparent;
color: inherit;
font: inherit;
border: 0;
outline: 0;
padding: 0;
-webkit-transition: all 200ms ease-in;
transition: all 200ms ease-in;
cursor: pointer;
}
.btn--primary {
background: #20ca20;
color: #fff;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
border-radius: 2px;
padding: 12px 36px;
}
.btn--primary:hover {
background: #20ca20;
}

.btn--primary:active {
background: #20ca20;
box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
margin-left: 5px;
}

.form__field {
text-align: center;
width: 360px;
background: #fff;
color: #a3a3a3;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
border: 0;
outline: 0;
padding: 22px 18px;
}
